/* src/components/ChargingStationMap.css */
.map-container {
  position: relative;
  height: 600px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.station-popup {
  min-width: 200px;
}

.details-button {
  background-color: #264E50;
  color: #F4E1BC;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.details-button:hover {
  background-color: #1a3638;
}
