/* src/components/ChargingStationFinder.css */
.charging-station-finder {
  padding: 20px;
  max-width: 1200px;
  margin: 80px auto 20px; /* Reduzierter oberer Rand */
}

/* Neuer Stil für den Titel */
.finder-title {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Schatten für bessere Lesbarkeit */
}

/* Container für die Suchkomponente */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
 
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}

/* Suchfeld */
.search-box {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}

/* Lupe in Suchfeld */
.search-icon {
  color: #264E50;
  margin-left: 10px;
}

/* Input-Feld */
.search-box input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent; 
  color: black;
}

.radius-selector label, .power-filter label {
  color: white;
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
  .charging-station-finder {
    margin-top: 70px; 
    padding: 10px;
  }
  
  .finder-title {
    font-size: 1.8rem;
  }
  
  .logo {
    width: 50vw; 
  }
}
