/* src/components/Header.css */
.header {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  background-color: transparent; /* Transparenter Hintergrund */
  position: relative;
  z-index: 1100; 
}

.logo-container {
  flex: 0 0 auto;
}

.logo {
  width: 30vw;
  max-width: 300px;
  height: auto;
  display: block;
}
