
.header {
    
   
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
  }
  
  .logo {
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 60vw;
    width: auto;
    height: auto;
    max-height: 100px;
  }
