
.header {
    background-color: #264E50;
    color: #F4E1BC;
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
  }
  
  .logo {
    margin-top: 100px;
    max-width: 50vw;
    width: auto;
    height: auto;
    max-height: 80px;
  }
