/* Allgemeine Stile für die gesamte Seite */
body {
  background-color: #264E50;  /* Hintergrundfarbe */
  color: #F4E1BC;  /* Textfarbe */
  font-family: 'Work Sans', sans-serif;  /* Schriftart setzen */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* H1 Styling */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px;
}


/* Menü-Styling */
nav {
  background-color: #E96E3F;
  color: #264E50;
  padding: 10px;
  border-radius: 8px;
}
