/* Allgemeine Stile für die gesamte Seite */
body {
  background-image: url('public/zukunft.jpg'); /* Bildpfad */
  background-size: cover; /* Stellt sicher, dass das Bild den gesamten Hintergrund abdeckt, ohne Verzerrung */
  background-position: center; /* Zentriert das Bild */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
  
  color: #F4E1BC;  /* Textfarbe */
  font-family: 'Work Sans', sans-serif;  /* Schriftart setzen */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}


/* Menü-Styling */

html {
  scroll-behavior: smooth;
}
/* In index.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 100;
 
}

.app-content {
  flex: 1;
  padding-top: 20px; 
  margin-top: 500px;
 
}
