/* Allgemeine Stile für die gesamte Seite */
body {
  background-color: #264E50;  /* Hintergrundfarbe */
  color: #F4E1BC;  /* Textfarbe */
  font-family: 'Work Sans', sans-serif;  /* Schriftart setzen */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}



/* Menü-Styling */

html {
  scroll-behavior: smooth;
}
